:root {
    --primary-color: #58d999;
    --bkg-color: black;
    --text-color: white;
}
*{
    padding: 0;
    margin: 0;
}
::-webkit-scrollbar {
    width: 0;
}
/*<!--========================================================
                        Nav Bar
=========================================================-->*/
.desktop-nav{
    display: flex;
    padding: 20px 0;
    justify-content: space-evenly;
    background-color: var(--bkg-color);
}
hr{
    color: white;
    line-height: 5px;
    margin: 0.6rem 0;
}
.desktop-nav>.logo>img{
    width: 50%;
}
.desktop-nav>.menu{
    width: 50%;
    display: flex;
    align-items: end;
    justify-content: space-around;
}
.desktop-nav>.menu>a{
    font-size: 25px;
    color: white;
    text-decoration: none;
}
.desktop-nav>.menu>a>i{
    font-size: 35px;
}
.menu>a:hover{
    color:#58d999;
    text-decoration: underline;
}
.mobile-nav{
    display: none;
}
/*<!--========================================================
                        Home Page
=========================================================-->*/
.Home{
    padding:3em 2.5em 5.5em 2.5em;
    background-color: black;
}
.row{
    margin: 0 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Home>.row>.display-on-mob{
    display: none;
}
.Home>.row>.col-lg-6>img{
    width: 100%;
}
.Home>.row>.col-lg-5>p:nth-child(1){
    color: white;
    font-size:5rem;
    line-height: 0.8em;
    font-family: Bree Serif;
}
.Home>.row>.col-lg-5>p:nth-child(2){
    color: white;
    font-size: 2rem;
    line-height: 1em;
}
/*<!--========================================================
                        Counting
=========================================================-->*/
.number{
    background-color: black;
}
.number>.row>.col-3{
    background-color: #58d999;
    padding: 1.5em;

}
.number>.row>.col-3>p{
    color: white;
    font-size: 2.2em;
    margin-bottom: 0 !important;
    text-align: center;
    font-weight: bolder;
    line-height: 1em;
}
.number>.row>.col-3>p:nth-child(2){
    font-weight:500;
    font-size: 1.5em;
    line-height: 1em;
}
.br{
    display: none;
}
/*<!--========================================================
                        About Us
=========================================================-->*/
.about-us{
    background-color: black;
    padding: 3.5em 0.5em 2.5em 0.5em;
}
.about-us>.container>.row>.col-lg-4>img{
    width: 100%;
    border-radius: 2em;
    border: 3px solid #58d999;
}
.about-us>.container>.row>.col-lg-8>p{
    color: white;
    font-size: 1.6em;
    margin-bottom: 0;
    line-height: 1.2em;
}
.about-us>.container>.row>.col-lg-8>.about-heading{
    font-size: 4em;
    font-family: Bree Serif;
}
/*<!--========================================================
                    Club Member
=========================================================-->*/
.Our-team{
    width: 100vw;
    padding: 0 0 1em 0;
    background-color: black;
}
.Our-team>p{
    background-color: black;
    color: white;
    padding: 0 0 20px 0;
    margin-bottom: 0;
    text-align: center;
    font-size: 4em;
    font-family: Bree Serif;
}
/**/
.members{    
    box-sizing: border-box;
}
@keyframes slide-1 {
    from {
    transform: translateX(0);
}
    to {
    transform: translateX(-100%);
}
}
.members {
    overflow: hidden;
    background: black;
    white-space: nowrap;
    position: relative;
}  
.members:before,
.members:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
}
.members:hover .members-slide {
    animation-play-state: paused;
}
.members-slide {
    display: inline-block;
    animation: 30s slide-1 infinite linear;
    height: auto;
}
/**/
.member-list{
    background-color: black;
    display: flex;
}
.club-member{
    background-color: white;
    width:260px;
    border-radius: 25px;
    overflow: hidden;
    margin:  0 0.5em;
}
.club-member>img{
    width: 85%;
    margin: 7.5% 7.5% 4% 7.5%;
    border-radius: 25px;
}
.member-details{
    padding:5px 10px 15px 10px;
}
.member-name,
.position{
    text-align: center;
    margin-bottom: 0;
    font-family: "Lobster Two", sans-serif;
    font-weight:600;
    line-height: 1em;
    font-size: 1.5em;
    background-color: white;
}
.member-details,
.social-media-link{
    background-color: white;
}
.social-media-link{
    display: flex;
    justify-content: space-evenly;
    padding: 0.8em;
    background-color: white;
    border-top: 2px dashed black;
}
.social-media-link>a>i{
    color: black;
    font-size: 2.5em;
}
.social-media-link>a>i:hover{
    color: #58d999;
}
/*<!--========================================================
                    Category
=========================================================-->*/
.category{
    background-color: black;
    padding: 2em;
}
.sharing>img{
    width: 100%;
}
.project{
    display: flex;
    justify-content: center;
    align-items: center;
}
.start-project{
    padding: 1em 1em 0.5em 1em;
}
.start-project>p{
    color: white;
    font-size: 1.8em;
    line-height: 1.1em;
    font-weight: 300;
}
.start-project>p:nth-child(2)>a{
    background-color: #58d999;
    border: 2px solid #58d999;
    text-decoration: none;
    color: white;
    padding: 5px;
    border-radius: 50px;
    width: 250px;
    font-weight: 400;
    font-size: 1em ;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.fa-circle-play{
    font-size: 1.2em;
}
.start-project>p:nth-child(2)>a:hover{
    background-color: rgba(0, 0, 0, 0);
}
/*More category*/
.more-category{
    padding-top: 2em;
    background-color: black;
}
.more-category>.container>.row{
    display: flex;
    justify-content: space-evenly;
}
.category-opt{
    background-color: white;
    border-radius: 25px;
}
.category-opt:hover{
    background-color: #58d999;
}
.category-heading{
    display: flex;
    justify-content: space-between;
    padding: 1em;
    border-bottom: 5px dashed black;
}
.category-heading>a{
    text-decoration: none;
    font-size: 2em;
    color: black;
    font-weight: 500;
}
.category-heading>a>img{
    width: 1.5em; 
}
.category-img>a>img{
    width: 90%;
    margin: 5%;
    border-radius: 25px;
}
/*<!--========================================================
                        Gallery
=========================================================-->*/
.gallery-section{
    display: flex;
    overflow: hidden;
    background-color: black;
    padding: 5em 0 2.5em 0;
}
.gallery-heading{
        position: relative;
        width: 100%;
        transform: translate(0,-50%);
        top: 160px;
        z-index: 5;
}
.gallery-heading>p{
        writing-mode: vertical-lr;
        display: inline;
        padding: 15px;
        color: white;
        background-color: #58d999;
        word-spacing: 1.2px;
        transform: rotate(180deg);
        font-size: 3em;
        height: 320px;
        text-align: center;
    font-family: Bree Serif;
}
/******************Imager Feature*************************/
.gallery-img {
    box-sizing: border-box;
}
@keyframes slide-2 {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}
.images {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}
.images:before,
.images:after {
    position: absolute;
    top: 0;
    width: 2500px;
    height: 100%;
    content: "";
    z-index: 5;
}
.images:hover .images-slide {
    animation-play-state: paused;
}
.images-slide {
    display: inline-block;
    animation: 55s slide-2 infinite linear;
}
.images-slide img {
    height: 300px;
    margin: 0 10px;
    border-radius: 25px;
    border: 2px solid black;
}
/*<!--========================================================
                    FAQ Section
=========================================================-->*/
.FAQ-section{
    background-color: black;
}
.FAQ-heading{
    color: white;
    text-align: center;
    padding: 0em 1em 1em 1em;
    font-family: "Sans";
    font-size: 2.5em;
    line-height: 1.1em;
}
.unique-font{
    color: #58d999;
    font-family: "HolidayFree";
}
/*================================FAQ List================================*/
.FAQ-list{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hind', sans-serif;
    background-color: black !important;
    color: white;
    display: flex;
    min-height: auto;
    width: 90vw;
    margin-left: 5vw;
}
.FAQ-list>.container {
    width: 90%; /* Adjusted width for better responsiveness */
    margin: auto;
}
.wrapper {
    background-color: #ffffff;
    margin-bottom: 20px;
    padding: 10px 15px; /* Adjusted padding for better spacing */
    border-radius: 5px;
    box-shadow: 0 15px 25px rgba(0, 0, 50, 0.2);
    transition: box-shadow 0.3s;
}
.toggle {
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5em;
    text-align: left;
    color: #111130;
    font-weight: 500;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 0;
}
.content {
    position: relative;
    font-size: 1.2em;
    color: black;
    text-align: left;
    line-height: 1.1em;
    height: 0;
    overflow: hidden;
    transition: all 0.3s;
}
/*<!--========================================================
                    Testimonail
=========================================================-->*/
.Testimonail-section{
    padding: 0.5em 0 2em 0;
    background-color: black;
    font-family: "Poppins", sans-serif;
}
.Testimonail-heading{
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.Testimonail-heading>img{
    width:100px;
}
.Testimonail-heading>p{
    font-size: 3.5em;
    color: white;
}
.Testimonail-sectio>.container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    margin: 0 auto;
}
.testimonial {
    position: relative;
    width: 100%;
    padding: 15px 0 35px 0;
    overflow: hidden;
}
.testimonial .slide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 10px;
    height: 100%;
    width: 100%;
    text-align: left;
}
.slide p {
    padding: 0 160px;
    font-size: 1.2em;
    font-weight: 400;
    color: white;
    text-align: left;
}
.review-dtl{
    font-size: 1.5em;
}
.star{
    font-size: 0.8em;
}
/* swiper button css */
.nav-btn {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    transform: translateY(30px);
    background-color: rgba(0, 0, 0, 0.1);
    transition: 0.2s;
}
.nav-btn:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
.nav-btn::after,
.nav-btn::before {
    font-size: 20px;
    color: #fff;
}
.swiper-pagination-bullet {
    background-color:white !important;
}
.swiper-pagination-bullet-active {
    background-color: #58d999;
}
/*<!--========================================================
                    Join Us
=========================================================-->*/
.join-section{
    text-align: center;
    width: 100vw;
    padding: 1em;
    color: white;
}
.join-heading>p:nth-child(1){
    font-size: 4em;
    font-weight: 600;
    margin-bottom: 0;
}
.join-heading>p:nth-child(2){
    font-size: 1.1em;
    font-weight: 600;
    margin-bottom: 0;
}
.join-btn{
    margin: 1.5em;
}
.join-btn>p{
    border-radius: 25px;
    font-size: 2em;
    width: 200px;
    background-color: #58d999;
    margin: 0 auto;
    font-weight: 500;
    border: 5px solid #58d999;
}
.social-icon>a{
    color: white;
    font-size: 5em;
    margin: 10px;
}
.social-icon>a:hover{
    color: #58d999;
}


/*=====================================================*/
.watermark{
    text-align: center;
    border-top: 2.5px dashed white;
    padding: 10px 0 10px 0;
}
.watermark>a{
    text-decoration: none;
    color: white;
    font-size: 1.1em;
}
.watermark>a:hover{
    color: #58d999;
    text-decoration: underline;
}